tests/test14/tabledefs/t_Table2.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="t_Table2" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="generated" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="t_Table2">
		<xsd:annotation>
			<xsd:appinfo>
				<od:index index-name="PrimaryKey" index-key="ID " primary="yes" unique="yes" clustered="no" order="asc"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int"/>
				<xsd:element name="Field1" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="255"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="f1" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="f2" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
				<xsd:element name="f4" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"/>
				<xsd:element name="f5" minOccurs="0" od:jetType="currency" od:sqlSType="money" type="xsd:double"/>
				<xsd:element name="f8" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean"/>
				<xsd:element name="f9" minOccurs="0" od:jetType="hyperlink" od:sqlSType="ntext" od:hyperlink="yes">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="f10" minOccurs="0" od:jetType="replicationid" od:sqlSType="uniqueidentifier">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="38"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
